.mainContent {
  background: var(--background) no-repeat;
  background-color: var(--bgColor);

  height: 100vh;
  width: 100vw;

  display: flex;
}

.textSection {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;
  margin: 20%;
}

.textContainer h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
}

.textContainer p{
  margin-top: 10%;

  line-height: 2rem;
  font-weight: 400;
  font-size: 1rem;
}
  

.formSection {
  display: flex;
  justify-content: center;
  align-items: center;

  
  height: 100%;
  width: 50%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  
  background-color: whitesmoke;
  
  border-radius: 4px;
  width: 100%;
  height: 60%;
  margin: 10% 20% 10% 10%;
  
}

.formContainer input {
  width: 80%
}

.formButton{
  margin: 0;
  width: 50%;
  height: 11%;

  transition: color 0.2s;
}

.formButton:hover{

  color: var(--bgColor);

  border: 1px solid var(--bgColor);
  border-radius: 5px;
  border-color: var(--bgColor);
}
